.login_2_wrap input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #dddfe2;
  font-size: 17px;
  padding-left: 15px;
}
.input_wrap input:focus {
  outline: none;
  border: 1px solid var(--blue-color);
}

.input_wrap ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(151, 149, 149, 0.836);
  opacity: 1; /* Firefox */
}

.input_wrap :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 17px;
  padding-left: 15px;
  color: rgba(151, 149, 149, 0.836);
}

.input_wrap ::-ms-input-placeholder {
  /* Microsoft Edge */
  font-size: 17px;
  padding-left: 15px;
  color: rgba(151, 149, 149, 0.836);
}
