.login {
  background: var(--bg-secondary);
  height: 93vh;
}
.login_wrapper {
  padding-top: 10px;
}

.login_1 {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.login_1 img {
  height: 104px;
  margin: 0 auto;
}
.login_1 span {
  font-size: 25px;
}
.login_2 {
  text-align: center;
}
.login_2_wrap {
  margin: 2rem auto;
  background-color: var(--bg-primary);
  display: flex;
  width: 400px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 5px 10px 0 var(--shadow-1);
  padding: 1rem;
  height: fit-content;
  border-radius: 7px;
  gap: 1rem;
  padding-bottom: 27px;
}
.login_2_wrap form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.blue_btn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: white;
  background-color: var(--blue-color);
  font-size: 20px;
  border: none;
  font-weight: 700;
}

.sign_splitter {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 5px 16px;
  text-align: center;
  width: 100%;
}
.forgot_password {
  color: #1877f2;
  font-size: 14px;
  font-weight: 500;
}
.sign_extra {
  font-size: 14px;
}
.green_btn {
  background-color: var(--green-color);
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: white;
}

@media screen and (min-width: 950px) {
  .login_wrapper {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding-top: 101px;
  }
  .login_1 {
    display: flex;
    width: 500px;
    flex-direction: column;
    /* justify-content: center; */
    text-align: left;
    padding-right: 32px;
    padding-top: 75px;
  }
  .login_2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  .login_1 img {
    margin-left: -28px;
  }
}
